<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116063866587-i1ilk29a5kl429lrnur96pu9nsnvh0ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116063866587-i1ilk29a5kl429lrnur96pu9nsnvh0ea</string>
	<key>API_KEY</key>
	<string>AIzaSyCy5m9rs9T9pEZvBkaClRJOtlyCJyaTzW8</string>
	<key>GCM_SENDER_ID</key>
	<string>116063866587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithmiguel.PDM2JDMMarvel</string>
	<key>PROJECT_ID</key>
	<string>marveleventspdm</string>
	<key>STORAGE_BUCKET</key>
	<string>marveleventspdm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116063866587:ios:e7c8f5040984ff780fc6fe</string>
</dict>
</plist>